.MenuIE8
{
   z-index:50;
}

.Calendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: Teal ;
    color: white;
    /*background-color:OrangeRed;  
    color:Snow;  */
    font-style:italic;  
}  
.Calendar .ajax__calendar_header {  
    background-color:white;  
    color:black;  
    font-style:normal;  
}  
.Calendar .ajax__calendar_active  {
    color:white;
    font-weight:bold;
    background-color:red;
}
.Calendar .ajax__calendar_today   {
    font-weight:bold;
    background-color:white;  
    color:black;  
    font-style:normal;    
}
.Calendar .ajax__calendar_other   {
   color:Black;	
}	

.boton{
background-color:Blue;
/*border-left:1px solid #FFFFFF;
border-right:1px solid #FFFFFF;*/
color:White;
border-color :Blue ;
/*font-family:arial,helvetica,sans-serif;
font-size:14px;
text-align:center;
vertical-align:middle;
height: 40px;
width: 150px;*/
}

.textColor 
{
	 
	border-style :solid;
	border-width:1px;
	border-color:Red ;
}
.Lista .rlbSelected.rlbText {
  	background-color : Red ;
}

.generalFont {
        font-family:"Calibri";
        font-size: 10pt;
}

.tabla {
	border:#003366;
	border-style:solid;
	border-width:1px;
	font-family:Arial;
	font-size:8pt;
	color:#003366;PADDING-RIGHT: 3px; PADDING-LEFT: 3px; 
	background-color:#EAF2FB;
	border-color: #003366;    
}




.GridView
{
	width: 95%;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

.GridViewItemAlternativo
{
	background-color: White;
	font-size: x-small;
	font-family: Verdana;
	height: 30px;
	padding-left: 30px;
}

.GridViewItemNoAlternativo
{
	background-color: #e5e5dd; 
	font-size: x-small;
	font-family: Verdana;
	height: 30px;
	padding-left: 30px;
}

.GridViewHeader
{
	background-image: url(../Img/gridHeader.gif);
	color: whitesmoke;
	height: 20px;
	font-family: Georgia;
	text-transform: uppercase;
	font-size: x-small;
	vertical-align: middle;
}

.GridViewSelectedRow
{
	font-size: x-small;
	font-family: Verdana;
	height: 30px;
	background-color: #c4d8f2;
}

.GridViewEmptyRow
{
	font-size: x-small;
	font-family: Verdana;
	font-weight: bold;
	text-transform: uppercase;
	color: #660000;
	padding-left: 30px;
}

.GridViewPager
{
	text-align: center;
	background-color: #e5e5dd; 
}